*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: solid red;
    }
  
header{
    height: 200px;
}

ul li{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    list-style: none;
justify-content: space-evenly;
}

li>a{
    color: whitesmoke; 
    text-decoration: solid;
}
nav ul{
    display: flex;
        margin-top: 3.5%;
        justify-items: stretch;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        column-gap: 80px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
 } 
.foto-crea-mundos{
    text-align: center;
}
 .redesSociales a{
        color: black;
        font-weight: 400;
    }
footer{
   margin-top: 5%;
   margin-left: 1%;
}
.fondoFooter footer form button img {
    width: 20px;
}
footer .copy{
    text-align: center;
}
.footerForm{
    text-align: right;
}

.qh-cards{
    margin: 0px;
    padding: 0;
    height: 350px;
    width: 350px;
    justify-content: space-evenly;
    }
.qh-seccion img {
    margin: 15px;
    padding: 0;
    width: 350px;
    height: 350px;
    justify-content: space-evenly;
    }
video{
    margin: 15px;
    padding: 0;
    width: 350px;
    height: 350px;
    justify-content: space-evenly;
    background-color: black;
    }
 .p-qh, .p {
        text-align: center;
        font-size: 40px;
        padding: 20px;
        font-style: italic;
      }

.main-ayudanos {
    text-align: center;
    font-size: 30px;
} 

.text-center{
    font-size: 40px;
    margin-top: 150px;
} 
