footer{
    margin-top: 5%;
    margin-left: 1%;
 }
 .fondoFooter footer form button img {
     width: 20px;
 }
 footer .copy {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }
 .footerForm{
     text-align: right;
 }